.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333533;
  padding-bottom: 15px;
  padding-top: 15px;
  justify-items: center;
}

.grid2 button {
  background: #ff8500;
  border-radius: 20px;
  height: 60px;
  width: 600px;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: white;
  text-transform: uppercase;
}

#rightMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 35%;
  right: 0;
}

#rightMenu button {
  width: 90px;
  height: 90px;
  background-color: transparent;
  margin-right: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

#rightMenu button:hover {
  background: #ffffff;
}

#root h1 {
  display: none;
}

#shop {
  width: 40px;
  height: 40px;
}

#books {
  width: 40px;
  height: 40px;
}

#info {
  width: 40px;
  height: 40px;
}

#nameAndTime {
  position: fixed;
  width: 170px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  right: 0;
  border-radius: 10px;
  background-color: #333533;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  color: black;
}
#nameAndTime div {
  background-color: white;
  padding-top: 10px;
  margin-top: 3%;
  height: 20px;
  width: 150px;
  border-radius: 5px;
}
