.grid {
  width: 100vw;
  background: #333533;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.span-col-4 {
  grid-column: span 4 / auto;
}

.span-row-2 {
  grid-row: span 2 / auto;
}

header #avatar {
  width: 120px;
  border-radius: 10px;
  object-fit: cover;
  height: 120px;
  display: flex;
  cursor: pointer;
}
.span-col-4 progress {
  width: 98vw;
  height: 3vh;
}
.grid span {
  margin-left: 10px;
  font-family: Montserrat, serif;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 3vh;
  line-height: 12px;
}
